:root {
  --bcg-color: #151515;
  --fnt-color: #d6d6d6;

  --fst-main-color: #a40001;
  --fst-second-color: #8b0001;

  --scd-main-color: #00229c;
  --scd-second-color: #081c6d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--fnt-color);

  background: #000;
  background: linear-gradient(
    100deg,
    var(--fst-main-color),
    var(--scd-main-color)
  );
}

/* TYPOGRAPHY */

.main-title {
  font-family: "Concert One", sans-serif;
  font-size: 60px;
  letter-spacing: 5px;
  font-weight: 600;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* COMPONENTS */

.wrapper-page {
  background-color: var(--bcg-color);
  height: calc(100vh - 60px);
  width: calc(100vw - 120px);
  border-radius: 70px;
}

header {
  height: 15%;
  width: 100%;
}

main {
  height: 85%;
}

.game-board {
  border: 3px solid white;

  width: 400px;
  height: 400px;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.first-gb {
  border-radius: 10px;
  box-shadow: 0 0 15px var(--fst-main-color);
  pointer-events: none;
}

.second-gb {
  border-radius: 10px;
  box-shadow: 0 0 15px var(--scd-main-color);
}

.square {
  border: 1px solid gray;
  border-left: none;
  border-top: none;

  cursor: pointer;
  transition: all 0.2 ease-in-out;
}

.square:nth-child(10n) {
  border-right: none;
}

.square:nth-child(91),
.square:nth-child(100) {
  border-bottom: none;
}

.square:hover {
  box-shadow: inset 0 0 5px #fff;
}
