:root {
  --bcg-color: #151515;
  --fnt-color: #d6d6d6;

  --fst-main-color: #a40001;
  --fst-second-color: #8b0001;

  --scd-main-color: #00229c;
  --scd-second-color: #081c6d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--fnt-color);
  font-family: "Concert One", sans-serif;

  background: #000;
  background: linear-gradient(
    100deg,
    var(--fst-main-color),
    var(--scd-main-color)
  );
}

/*  DEFAULT */

.main-title {
  font-size: 60px;
  letter-spacing: 5px;
  font-weight: 600;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}

.flex-around {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* COMPONENTS */

.wrapper-page {
  background-color: var(--bcg-color);
  height: calc(100vh - 60px);
  width: calc(100vw - 120px);
  border-radius: 70px;
}

header {
  height: 15%;
  width: 100%;
}

main {
  height: 85%;
}

.game-board {
  z-index: 1;
  position: relative;
  border: 3px solid white;
  background-color: var(--bcg-color);

  width: 400px;
  height: 400px;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

.first-gb {
  box-shadow: 0 0 15px var(--fst-main-color);
  pointer-events: none;
}

.second-gb {
  box-shadow: 0 0 15px var(--scd-main-color);
}

.square {
  border: 1px solid rgb(137, 137, 137);
  border-left: none;
  border-top: none;

  cursor: pointer;
  transition: all 0.2 ease-in-out;
}

.square:nth-child(10n) {
  border-right: none;
}

.square:nth-child(91),
.square:nth-child(100) {
  border-bottom: none;
}

.square:hover {
  box-shadow: inset 0 0 5px rgb(137, 137, 137);
}

.vert-btn,
.hori-btn {
  cursor: pointer;
  transition: all 0.2s;
}

.vert-btn {
  border: 1px solid white;

  width: 30px;
  height: 80px;

  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: repeat(3, 1fr);
}

.hori-btn {
  border: 1px solid white;

  width: 80px;
  height: 30px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 100%;
}

.vert-btn:hover,
.hori-btn:hover {
  scale: 1.2;
}

.vert-btn:active,
.hori-btn:active {
  opacity: 0.6;
}

.sqr-btn {
  border: 1px solid white;
  background-color: var(--fst-main-color);
}

.display-msg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bcg-color);
  border-radius: 10px;
}

.display-msg p {
  font-size: 50px;
}

.btn-restart {
  z-index: 99;
  border: 3px solid var(--fnt-color);

  border-radius: 20px;
  padding: 15px 25px;
  font-size: 25px;

  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-restart:hover {
  color: var(--bcg-color);
  border-color: var(--bcg-color);
  background-color: var(--fnt-color);
}

.btn-restart:active {
  opacity: 0.6;
}
